@import url("../estilos_globales.css");

.browser {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secundario);
}

.h1-browser__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
}

.h1-browser__container h1 {
    color: var(--blanco);
}

.form-browser__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.form-browser__container .form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-browser__container .form > div {
    margin: 0 0.5rem;
}

.city-select {
    width: 18rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding: 0 0.5rem;
}

.calendar-element {
    width: 18rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

.btn-form-browser {
    color: var(--blanco);
    font-weight: 600;
    background-color: var(--primario);
    min-width: 12rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {

    .h1-browser__container {
        padding: 10px 0;
    }

    .h1-browser__container h1 {
        text-align: center;
        margin: 5px;
    }

    .form-browser__container {
        padding-bottom: 0;
    }

    .form-browser__container .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-browser__container .form > div {
        margin-bottom: 10px;
    }

    .city-select {
        min-width: 20rem;
        width: 100%;
    }
    
    .calendar-element {
        min-width: 20rem;
        width: 100%;
    }
    
    .btn-form-browser {
        min-width: 20rem;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .h1-browser__container {
        padding: 10px 0;
    }

    .h1-browser__container h1 {
        text-align: center;
        margin: 5px;
    }

    .city-select {
        min-width: 10rem;
        width: 100%;
    }
    
    .calendar-element {
        min-width: 10rem;
        width: 100%;
    }
    
    .btn-form-browser {
        min-width: 10rem;
        width: 100%;
    }

}