/* Importaciones */
@import url("../estilos_globales.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*Iconos*/
.icon__location {
    background: url('../../assets/icon_location.png');
}

.icon__location-oscuro {
    background: url('../../assets/icon_location_oscuro.png');
}

/* Bloque buscador */
.buscador {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secundario);
}

.buscador-titulo__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
}

.buscador-titulo__contenedor h1 {
    color: var(--blanco);
}

.buscador-formulario__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.buscador-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador-formulario > div {
    margin: 0 0.5rem;
}

/* Select ciudades estilos*/

.buscador-formulario-ciudad__contenedor {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.buscador-formulario-ciudad {
    display: block;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: var(--secundario);
    line-height: 1.3;
    /* padding: .4em 1.4em .3em 2em; */
    padding-left: 45px;
    width: 310px;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--blanco);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    height: 38.6px;
    position: relative;
    cursor: pointer;
}

.buscador-formulario-ciudad__contenedor label {
    position: absolute;
    top: 5px;
    left: 19px;
    margin: auto;
    display: flex;
}

.buscador-formulario-ciudad__contenedor .icon__location-oscuro {
    color: rgba(0,0,0,.03);
    border-radius: 0.2rem;
    background-color: var(--blanco);
    background-repeat: no-repeat, repeat;
    font-size: 25px;
}

.city-select__item {
    display: block;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}

/* Estilo Calendario*/

.react-datepicker__input-container input {
    font-family: 'Quicksand', sans-serif;
    width: 260px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 40px;
    border-style: none;
    box-shadow: 0px 0px 1px #000;
    background-image: url("../../assets/icon_calendar.png");
    background-repeat: no-repeat;
    background-position: 10px 9px;
    color: var(--gris);
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: var(--primario);
    border-radius: 100%;
  }

.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
    background-color: rgba(240, 87, 45, 0.5);
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    border-radius: 0.3rem;
    background-color: var(--primario);
    color: var(--blanco);
}

.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 100%;
}

/* Estilo Boton formulario */

.buscador-formulario-btn {
    color: var(--blanco);
    font-weight: 600;
    background-color: var(--primario);
    min-width: 12rem;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.buscador-formulario-btn:hover {
    background-color: var(--datoInvalido);
    color: var(--primario);
}

/* Responsive Design*/

@media screen and (max-width: 480px) {

    .buscador-titulo__contenedor {
        padding: 10px 0;
    }

    .buscador-titulo__contenedor h1 {
        text-align: center;
        margin: 5px;
    }

    .buscador-formulario__contenedor {
        padding-bottom: 0;
    }

    .buscador-formulario__contenedor .buscador-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buscador-formulario__contenedor .buscador-formulario > div {
        margin-bottom: 10px;
    }

    .buscador-formulario-ciudad__contenedor {
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .buscador-formulario-ciudad {
        width: 100%;
        max-width: 310px;
    }

    .react-datepicker__input-container {
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .react-datepicker__input-container input {
        width: 100%;
        max-width: 310px;
        min-width: 260px;
    }

    .buscador-formulario-btn {
        min-width: 310px;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .buscador-titulo__contenedor {
        padding: 10px 0;
    }

    .buscador-titulo__contenedor h1 {
        text-align: center;
        margin: 5px;
    }

    .buscador-formulario {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buscador-formulario__contenedor .buscador-formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buscador-formulario__contenedor .buscador-formulario > div {
        margin-bottom: 10px;
    }

    .buscador-formulario-ciudad__contenedor {
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .buscador-formulario-ciudad {
        width: 100%;
        max-width: 310px;
    }

    .react-datepicker__input-container {
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .react-datepicker__input-container input {
        width: 100%;
        max-width: 310px;
        min-width: 260px;
    }

    .buscador-formulario-btn {
        min-width: 310px;
        width: 100%;
    }
}