.boton-reserva-contenedor {
    background-color: var(--blanco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: max-content;
    padding: 30px;
}

.boton-reserva-contenedor p {
    padding: 0;
    font-weight: 700;
}
.boton-reserva-contenedor button {
    width: 100%;
    padding: 10px 0;
    border: none;
    color: var(--blanco);
    background-color: var(--primario);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    
    .boton-reserva-contenedor{
        display: flex;
        background-color: transparent;
        box-shadow: none;
        justify-content: space-between;
    }
}