@import "../estilos_globales.css";

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    background-color: var(--primario);
    padding: 15px 5px 20px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: var(--blanco);
}

.footer_copywrite {
    margin-left: 50px;
    font-size: 14;
    font-weight: 700;

}

.footer__redes_sociales {
    display: flex;
}

.footer__redes_sociales span {
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    margin: 5px 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.footer__redes_sociales span:hover {
    transform: scale(1.1);
}

.icon__facebook {
    background: url('../../assets/icon_facebook.png');
}

.icon__linkedin {
    background: url('../../assets/icon_linkedin.png');
}

.icon__twitter {
    background: url('../../assets/icon_tweet.png');
}

.icon__instagram {
    background: url('../../assets/icon_ig.png');
}

@media screen and (max-width: 480px) {
    .footer__redes_sociales{
      display: none;
    }

    .footer__mobile {
        display: flex;
    }

    .footer__mobile-separador {
        width: 100%;
        position: fixed;
        bottom: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer__mobile-separador a{
        padding: 0 25px;
        text-decoration: none;
        color: var(--secundario);
    }

    .footer__mobile-separador span{
        color: var(--primario);
    }

    .footer__mobile-separador hr{
        width: 90%;
        height: 1px;
        color: var(--terciario);
    }

    .footer__redes_sociales-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .footer__redes_sociales-mobile span {
        background-repeat: no-repeat;
        background-size: auto;
        display: block;
        margin: 5px 15px;
        width: 30px;
        height: 30px;
    }

    .icon__facebook_oscuro {
        background: url('../../assets/icon_facebook_oscuro.png');
    }
    
    .icon__linkedin_oscuro {
        background: url('../../assets/icon_linkedin_oscuro.png');
    }
    
    .icon__twitter_oscuro {
        background: url('../../assets/icon_tweet_oscuro.png');
    }
    
    .icon__instagram_oscuro {
        background: url('../../assets/icon_ig_oscuro.png');
    }
    
}