.container { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 20px 15px 20px;  
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .container{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .container{
    flex-direction: column;
  }
}