@import "../estilos_globales.css";

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    max-width: 100%;
    background-color: var(--blanco);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.header__container{
    display: flex;
    align-items: flex-end;
}

.header__container h2{
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 22px;
}

.header__container-imagen {
    background: url('../../assets/logo_header.png');
    background-repeat: no-repeat;
    background-size: auto;
    display: block;
    width: 80px;
    height: 53px;
}

.header__container-title {
    text-decoration: none;
    color: var(--colorTituloHeader);
}

.header__botones{
    display: flex;
    align-items: flex-end;
    padding-top: 15px;
}

.header__botones-boton {
    color: var(--primario);
    background-color: var(--blanco);
    height: 40px;
    border: 1px solid var(--primario);
    border-radius: 5px;
    width: 200px;
    font-family: quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.header__botones-boton:first-child {
    margin-right: 10px;
}

.header__botones-boton-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .header__botones-boton, .header__container-title{
      display: none;
    }

    .header__botones-boton-mobile {
        display: block;   
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
    }

    .header__botones-boton-mobile-icono {
        background: url('../../assets/menu.png');
        background-repeat: no-repeat;
        background-size: auto;   
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .header__container-title{
        display: none;
    }
}